h1 {
    margin: 1rem 0 0 1rem;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 1rem;
}

form {
    background: #f1f1f1;
    padding: 2rem 1rem;
    border-radius: 20px;
    margin-right: 2rem;
}

.control-group {
    margin: 1rem 0;
}

input, select {
    width: 100%;
}

button[type="submit"] {
    margin-top: 1rem;
}