{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "shipments/css/shipment_form.css" %}">
{% endblock %}

{% block content %}
<h1>
    Create a Shipment
</h1>
    <div class="grid-2">
        <div class="form_container">
            <form action="">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                                {{ form.recipient_name|as_crispy_field }}
                        </div>
                        <div class="col-6">
                                {{ form.email|as_crispy_field }}
                        </div>
                        <div class="col-6">
                                {{ form.phone_number|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            {{ form.street_address1|as_crispy_field }}
                        </div>
                        <div class="col-12">
                            {{ form.street_address2|as_crispy_field }}
                        </div>
                        <div class="col-6">
                            {{ form.county|as_crispy_field }}
                        </div>
                        <div class="col-6">
                            {{ form.postcode|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            {{ form.country|as_crispy_field }}
                        </div>
                    </div>
                    <button type="submit" value="Submit" class="btn bg-success text-light w-100">Submit</button>
                </div>
            </form>
        </div>
        <div class="products_container">
             <div class="products">
                <!-- Insert Added Products Here -->
            </div>
            {% for product in products %}
                <div class="product-wrapper">
                    <div class="product-detail">
                        <h4>
                            {{ product.name}}
                        </h4>
                        
                        <p>
                            {{ product.brand }}
                        </p>
                        <span>
                            ({{ product.inventory_count }} units)
                        </span>
                    </div>
                    <div class="product-form">
                        <form action="{% url 'add_to_shipment' product.pk %}" method="POST">
                            {% csrf_token %}

                            <input type="number" id="quantity" name="quantity_{{product.pk}}">
                            <button type="submit" class="btn btn-success">Submit</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block postload_js %}
    {{ block.super }}
    <script src="{% static "shipments/js/shipment_form.js" %}"></script>
{% endblock %}