{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/add_product.css' %}">
{% endblock %}

{% block content %}
    <h1>Add A Product</h1>
    <section id="form-section">
        <div class="form-details">
            <p>
                Please include these details when submitting a new paint product in stock:
            </p> 
        </div>
        <form method="post" action="" id="add_product" class="primary-font">
       {% csrf_token %}
       {{ form|crispy }}
       <button type="submit" value="Submit" class="btn bg-success text-light w-100">Submit</button>
   </form>
    </section>
{% endblock %}