{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/add_product.css' %}">
{% endblock %}

{% block content %}
    <h1>Add A Product</h1>
        <form method="post" action="{% url "add_product" %}" id="add_product" class="primary-font">
       {% csrf_token %}
       <div class="container-fluid">
           <div class="row">
               <div class="col-12">
                    {{ form.name|as_crispy_field }}
               </div>
               <div class="col-12">
                    {{ form.brand|as_crispy_field }}
               </div>
               <div class="col-12">
                    {{ form.colour|as_crispy_field }}
               </div>
           </div>
           <div class="row">
               <div class="col-6">
                   {{ form.paint_type|as_crispy_field }}
               </div>
               <div class="col-6">
                   {{ form.size|as_crispy_field }}
               </div>
               <div class="col-6">
                   {{ form.cost_price|as_crispy_field }}
               </div>
               <div class="col-6">
                   {{ form.retail_price|as_crispy_field }}
               </div>
           </div>
           <div class="row">
               <div class="col-12">
                   {{ form.inventory_count|as_crispy_field }}
               </div>
           </div>
       </div>
       {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}

                    <strong>{{ field }}: {{ error|escape }}</strong>
                {% endfor %}
            {% endfor %}
       {% endif %}
       <button type="submit" value="Submit" class="btn bg-success text-light w-100">Submit</button>
   </form>
{% endblock %}